<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentBot">
      <ion-segment-button value="calendar">
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list" *ngIf="listas.length != 0">
        <ion-icon name="list-box"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="contact" *ngIf="contactos.length != 0">
        <ion-icon name="contacts"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="notes" *ngIf="notas.length != 0">
        <ion-icon name="clipboard"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="setting">
        <ion-icon name="settings"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-calendar [format]="'dd-mm-YYYY'" [options]="options" ></ion-calendar>

  <ion-fab bottom right >
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="pimary">
        <ion-icon name="list-box"></ion-icon>
      </button>
      <button ion-fab color="primary">
        <ion-icon name="contacts"></ion-icon>
      </button>
      <button ion-fab color="primary">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
